/*!
 * 
 * Realtor Template v.1.0.0
 * 
 */


/*
[Table of contents]

1. Text Color Primary
2. Background Color Primary
*/

/*** Text Color orange Primary
------------------------------------------------ ***/
header nav li.active a,
header nav li:hover a,
.property-slide .pri-info .auther h6,
.properties-small .text-po .locat span,
#testimonials .testi h5,
.cost-price-content span,
.blog-page .blog .post-admin span,
.properti-detsil .categories span,
.properti-detsil .side-bar .recent-come li span,
.regi-sec li .forget,
.regi-sec li .forget a,
.regi-sec .checkbox label,
.contact-info a {
	color:#ff5722;
}

/*** Background Color orange Primary
------------------------------------------------ ***/
.btn:hover,
.home-3 .bnr-property .btn-1,
.info_content .description .price-bg,
.properties li .price-bg,
.mobile-app hr,
.properti-detsil .sale-tag {
	background:#ff5722;
}


/*** Border Color orange Primary
------------------------------------------------ ***/

.services li section:before {
	border:#ff5722;
}

.properties .detail-sec {
	border-top:#ff5722;
}

.properti-detsil .home-in {
	border-bottom:#ff5722;
}


/*** Text Color green Primary
------------------------------------------------ ***/

header .ownmenu ul.dropdown li a:hover,
.ownmenu li > .megamenu li:hover,
.ownmenu li > .megamenu li a:hover,
.property-slide .sale,
.properties li:hover .detail-sec a,
.pagination li a,
.load-more,
.call-us h6,
.mobile-app h3,
.what-we-do .nav-tabs li a:hover,
.what-we-do .nav-tabs li a:hover span,
.what-we-do .nav-tabs li a:hover i,
.what-we-do .nav-tabs .active a span,
.what-we-do .nav-tabs .active a i,
.services li .heading:hover,
.services li:hover .heading,
.blog-page .blog .post-admin h6,
.single-post blockquote:before,
.properti-detsil .categories li a:hover,
.contact-info i,
footer .recent-come li span {
  color: #4caf50;
}

/*** Background Color green Primary
------------------------------------------------ ***/
.btn,
.find-sec .dropdown-menu a:hover,
.find-sec .selected a,
.home-3 .finder h6,
.home-3 .bnr-property .btn-1:hover,
.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover,
.pagination>li>a:focus, .pagination>li>a:hover, .pagination>li>span:focus, .pagination>li>span:hover,
.pagination li a:hover,
.load-more:hover,
.services li .icon,
.services li .heading,
.parthner .owl-dots .active span,
.sub-banner .breadcrumb,
.blog hr,
.properti-detsil .tags li a:hover,
footer hr,
footer .subcribe,
.noUi-connect,
.services li:hover .ser-hover {
	background: #4caf50;
}

/*** Border Color green Primary
------------------------------------------------ ***/

.pagination li a,
.load-more {
	border:#4caf50;
}

.pagination li a, .load-more, .noUi-handle {
	border:4px solid #4caf50;
}

.find-sec::before,
.properti-detsil .tags li a:hover{
	border-color:#4caf50;
}

.ownmenu ul.dropdown,
.call-us .btn {
	border-bottom:#4caf50;
}